.container{
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.day{
  background: linear-gradient(rgb(197, 235, 250), skyblue, deepskyblue);
}

.night{
  background: linear-gradient(midnightblue, darkblue, royalblue);
}

.sun{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 5px;
  right: 5px;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.iconday{
  height: 50px;
  width: 50px;
  transition: all .2s ease-in-out;
}

.iconday:hover{
  color: black;
  cursor: pointer;
}

.yellow:hover{
  color: gold;
}

.title{
  font-size: 200px;
  width: 100%;
  margin: 1rem;
  text-align: center;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
}

.lengths{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
  margin-left: 20rem;
}

.length{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: 30px;
  max-width: 320px;
  height: 220px;
  background-color: rgba(156, 155, 155, 0.1);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .1);
  border-radius: 30px;
}

.label{
  margin: 2rem;
}

.length_text{
  margin-bottom: .5rem;
}

.clock{
  position: absolute;
  top: 40%;
  left: 8%;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background-color: rgba(156, 155, 155, 0.3);
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stop_reset{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#timer-label{
  font-size: 40px;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
  text-align: center;
}

#time-left{
  font-size: 65px;
  text-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.btn{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
  color: white;
  align-items: center;
  display: contents;
  justify-content: center;
}

.icon{
  width: 2rem;
  height:  2rem;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

#reset .icon{
  border: solid 2px;
  width: 1.5rem;
  height: 1.5rem;
  padding: 2px;
  transition: all .2s ease-in-out;
}

.icon:hover{
  cursor: pointer;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, .3);
}

.ligth:hover{
  background-color: rgb(17, 180, 220);
}

.dark:hover{
  background-color: darkblue;
}

.length{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

@media (max-width: 1228px) {
  body{
    font-size: 60%;
  };
  .clock{
    position: relative;
  }
 
}

@media (max-width: 1268px) {
  .sun{
    width: 200px;
    height: 200px;
  }
  .header{
    margin-left: 0;
    justify-content: left;
    text-align: left;
    margin-right: 300px;
  }
  .lengths{
    margin-top: 3rem;
  }
  .clock{
    margin-left: -50px;
  }
}

@media (max-width: 1060px){
  .header{
    margin-bottom: 10px;
  }
  .title{
    margin-bottom: 10px;
  }
  .length{
    margin-top: 10px;
  }
  .lengths{
    flex-direction: column;
    margin-top: -35px;
    margin-bottom: 10px;
  }
}

@media (max-width: 978px){
  .header{
    margin-left: 20px;
    margin-right: 200px;
  }
  .title{
    font-size: 150px;
  }
  
}

@media (max-width: 702px){
  .sun{
    width: 100px;
    height: 100px;
  }
  .title{
    font-size: 70px;
    margin-left: 8px;
  }
  .iconday{
    width: 20px;
    height: 20px;
  }
  .header{
    margin-left: 20px;
    margin-right: 100px;
  }
  .length{
    font-size: 20px;
    max-width: 200px;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    height: 120px;
    justify-content: center;    
  }
  .lengths{
    margin-top: .5rem;
    flex-direction: row;
    margin-left: 10px;
    padding: 0;
  }
  .label{
    margin-top: 5px;
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  .btn_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .clock{
    display: flex;
    position: relative;
    margin-top: 10px;
    top: auto;
  }

}